@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 10px;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  background: #f6f6f6;
  overflow-y: scroll;
}

p {
  margin: 0 0 1rem;
  font-size: 1rem; text-align: left;
}

ol {
  margin: 0 0 1rem;
  font-size: 1rem; text-align: left;
}
li {
  text-align: left;
}

#packagebuilderapp {
  min-height: 90vh;
}